/* 003 */
.elastic_003 {
  background-color: rgba(230, 230, 230, .01);
  background-image:
    radial-gradient(30% 25%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(30% 75%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(25% 30%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(75% 28%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 10px 10px;
}
