/* 003 */
.elastic_003 {
  background-color: rgba(230, 230, 230, .01);
  background-image:
    radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(100% 50%, 50% 06%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 10px 10px;
}