/* 017 */
.elastic_017 {
  background-color: #f6f6f6;
  background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}