/* 026 */
.elastic_026 {
  background:
    linear-gradient(-45deg, #f6f6f6 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc) 0 0,
    linear-gradient(-45deg, #ccc 25%, transparent 25%, transparent 75%, #f6f6f6 75%, #f6f6f6) 1em 1em,
    linear-gradient(45deg, #ccc 17%, transparent 17%, transparent 25%, #ccc 25%, #ccc 36%, transparent 36%, transparent 64%, #ccc 64%, #ccc 75%, transparent 75%, transparent 83%, #ccc 83%) 1em 1em;
  background-color: #f6f6f6;
  background-size: 2em 2em;
}