/* 040 */
.elastic_040 {
  background-color:#3cc;
  background-image:
    radial-gradient(rgba(255,255,255,.1) 40%, transparent 40%),
    radial-gradient(rgba(255,255,255,.1) 20%, transparent 20%);
  background-position: 0 0, 40px 40px;
  background-size:80px 80px;
}